*{
	margin: 0px;
	padding: 0px;
}
.header{
	width: 100%;
	min-height: 700px;
	background-image: url("slide-doctor-bg.jpg");
	/*background-repeat: no-repeat;*/
	position: relative;
	overflow:hidden;
}
.header .menu
{
	border: 3px solid #598c9a;
}
.header img{
	position: absolute;
	bottom: 15px;
	right: 122px;
	animation: bottomToTop 1s forwards;
}
@-webkit-keyframes bottomToTop{
	0%{transform: translateY(200px);opacity: 0}
	100%{transform: translateY(20px);opacity: 1}
}
.content{
	width: 450px;	
	position: absolute;
	top: 205px;
	left: 200px;
	
}
.content1{
	width: 450px;	
	position: absolute;
	top: 180px;
	left: 200px;
	
}

@-webkit-keyframes leftToRight{
	0%{
		opacity: 0;
		transform: translateX(-600px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
.topcontent{
	font-size: 46px;
	line-height: 91px;
	animation:leftToRight 0.5s forwards; 
	animation-delay: 0.4s;
	opacity: 0;
}
.topcontent span{
	color: #13bfb1;
	font-size: 60px;
}

.btn{

	width: 200px;
	margin-left: 80px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color:#13bfb1;
	border-radius: 20px;
	border: 0;
	padding: 0.5em 2em;
	margin-top: 40px;
	color:white;
	animation:appear 0.5s forwards; 
	animation-delay: 1.2s;
	opacity: 0;
	font-size: 1.2em;

}
.btn1{

	width: 400px;
	margin-left: 250px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color:#13bfb1;
	border-radius: 20px;
	border: 0;
	padding: 0.5em 2em;
	margin-top: 40px;
	color:white;
	animation:appear 0.2s forwards; 
	animation-delay: 0.2s;
	opacity: 0;
	font-size: 2em;

}
.botcontent{
	font-size: 25px;
	line-height: 35px;
	animation:leftToRight 0.5s forwards; 
	animation-delay: 0.8s;
	opacity: 0;
}
@-webkit-keyframes appear{
	0%{transform: scale(0);opacity: 0;}
	100%{transform: scale(1);opacity: 1;}
}
.menu{
	width: 75%;
	height: 90px;
	position: absolute;
	top:60px;
	left: 80px;
	background-color: white;
	z-index: 999;
	display: flex;
	align-items: center;
}
.name span{
	font-weight: bold;
	color:#13bfb1;
	font-size: 38px;
}
.name{
	font-size: 40px;
	margin-left: 15px;
	margin-right: 30px;
}


.contact1 {
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 80px;
}
.contact1 p {
    float: left;
    color: white;
    padding-right: 10px;
    font-size: 15px;
}
.contact1 a {
    text-decoration: none;
    font-size: 14px;
    color: #519087;
    margin-right: 17px;
    margin-left: 5px;
}
.contact1 i {
    font-size: 14px;
    color: white;
}
.
a {
    padding: 0px;
    display: block;
    float: left;
    margin: 5px;
}
.social {
    margin-left: 525px;
 }
 .parent{
	width:120px;
	height:120px;
	background-color:#6db5d64f;
	border-radius: 100%;
	position:fixed;
	right:110px;
	top:44px;
	z-index:1000;
}
.contact{
position:absolute;
width:100px;
height:100px;
border-radius: 100%;
background-color:#2196F3;
top:10px;
left:10px;
	z-index:1000;

}
.node1{
width:7px;
height:7px;
border-radius:100%;
background-color:#2196F3;
position:absolute;
	z-index:1000;

}
.node2{
width:7px;
height:7px;
border-radius:100%;
background-color:#2196F3;
position:absolute;
	z-index:1000;


}
.node3{
width:7px;
height:7px;
border-radius:100%;
background-color:#2196F3;
position:absolute;
	z-index:1000;
}
.social-icons {
	margin: 0;
	padding: 0;
	width: auto;
}

.social-icons li {
	display: inline-block;
	margin: -1px 1px 5px 0;
	padding: 0;
	border-radius: 100%;
	overflow: visible;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.social-icons li a {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background: #FFF;
	border-radius: 100%;
	display: block;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	color: #333 !important;
	text-decoration: none;
}

.social-icons li:hover a {
	background: #171717;
	color: #FFF !important;
}

.social-icons li:hover.social-icons-twitter a {
	background: #1aa9e1;
}

.social-icons li:hover.social-icons-facebook a {
	background: #3b5a9a;
}

.social-icons li:hover.social-icons-linkedin a {
	background: #0073b2;
}

.social-icons li:hover.social-icons-rss a {
	background: #ff8201;
}

.social-icons li:hover.social-icons-googleplus a {
	background: #dd4b39;
}

.social-icons li:hover.social-icons-pinterest a {
	background: #cc2127;
}

.social-icons li:hover.social-icons-youtube a {
	background: #c3191e;
}

.social-icons li:hover.social-icons-instagram a {
	background: #7c4a3a;
}

.social-icons li:hover.social-icons-skype a {
	background: #00b0f6;
}

.social-icons li:hover.social-icons-email a {
	background: #dd4b39;
}

.social-icons li:hover.social-icons-vk a {
	background: #6383a8;
}

.social-icons li:hover.social-icons-xing a {
	background: #1a7576;
}

.social-icons li:hover.social-icons-tumblr a {
	background: #304e6c;
}

.social-icons li:hover.social-icons-reddit a {
	background: #ff4107;
}

.social-icons.social-icons-transparent li {
	box-shadow: none;
}

.social-icons.social-icons-transparent li a {
	background: transparent;
}

.social-icons.social-icons-icon-light li a i {
	color: #FFF;
}

.social-icons a.social-icons-facebook{
	background: #3b5a9a;
}
.social-icons a.social-icons-googleplus{
	background: #dd4b39;
}

#footer{
height:225px;
width:100%;
}

#footer .footer-copyright{
width:100%;
height:80px;
background-color: #231f1f;
}
.col-md-7 .para{
font-size:12px;
color:#ffffff96;
font-family: 'Montserrat', sans-serif;

}
.col7{
float:left;
width: 55%;
color: #ffededbf;
margin-top: 40px;
}
.col4{
float:left;
width: 25%;
}
.col4 a{
text-decoration:none;
color:#ffededbf;
}
.col1{
float:left;
width: 15%;
padding-left:20px;
}
.Top {
    width: 100%;
    height: 150px;
    background-color: gray;
}
.row h4{
font-size:20px;
color:white;
}
.row {
    padding-left: 20px;
}
.footer-ribbon {
    width: 80px;
    height: 30px;
    background-color: yellow;
	transform: translateY(-14px);
    margin-left: 50px;
	position:relative;
		display: flex;

}
.deco{
	    position: absolute;
    width: 25px;
    height: 25px;
    background-color: gray;
    z-index: 0;
    transform: rotate(45deg);
    top: 5px;
    left: -12px;
}
.Social{
width: 80px;
    height: 30px;
    background-color: #002eff;
	z-index: 10;
	display: flex;
    align-items: center;
    justify-content: center;
font-family: 'Shadows Into Light', cursive;
font-size:18px;
color:white;
}
.register{
	position:absolute;
	width:80px;
	height:80px;
	   top: 32px;
    left: 23px;
}
 .register a {
    text-decoration: none;
    color: white;
}
.register a span {
    padding-left: 9px;
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 0px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #13bfb1;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.btn-login {
	background-color: #4cafae;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
.bar1 {
	width: 500px;
	height: 40px;
}
.formQuestion {
	width: 75%;
	margin: auto;
	margin-top: 100px;
}
.questions {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 13px;
}
.error {
	color: red;
	width: initial
}
.sentence {
	height: 45px;
	width: 100%;
	color: #fff;
	background: #21890f;
	background-size: cover;
	padding-left: 10px;
	font-size: 16px;
	line-height: 45px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 5%;
}
.sentence a{
	color: #fff;

}




	i.down{
		margin-left: 5px;
		transform: rotate(45deg);
		border: solid #983434;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 2px;
	}
	.learn_menu {
		position: absolute;
		width: 200px;
		height:124px;
		top: 84px;
		left: 730px;
		background-color: #FFFFFF;
		display: none;
		border-bottom: 2px solid #598c9a;
		border-left: 2px solid #598c9a;
		border-right: 2px solid #598c9a;
	}
	.learn_menu a{
		display: block;
		text-decoration: none;
		margin-left: 12px;
		margin-top: 10px;
	
	}
	.learn_menu a:hover{
		color:red;
	}
	
	.Voca{
		margin-top:100px;
		margin-left:20px;
		width:180px;
		height:200px;
		position:relative;
		border:0.5px solid black;
		border-radius:5%;
		cursor:pointer;
		float:left;
	
	}
	.Voca .front{
		width:180px;
		height:200px;
		position: absolute;
		top:0px;
		left:0px;
		opacity: 0;
	
	}
	.Voca .behind{
		width:180px;
		height:200px;
		position: absolute;
		top:0px;
		left:0px;
		opacity: 0;
	}
	.Voca .front img{
		width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    left: 56px;
	}
	.Voca .behind img{
		width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    left: 56px;
	}
	.Voca .front p{
		text-align: center;
		color: #133a18;
		margin-top: 26px;
		font-weight: bold;
	}
	.Voca .behind p{
		text-align: center;
		margin-top: 13px;
	}
	
	.Voca .front.first{
		opacity: 1;
	}
	
	.Voca .behind.first{
		opacity: 1;
		transform: rotateY(180deg);
	}
	.front h4 {
		text-align: center;
		color: blue;
		margin-top: 27px;
		font-size: 18px;
	}
	.behind h4 {
		text-align: center;
		color: blue;
		margin-top: 27px;
		font-size: 18px;
	}
	p.ex {
		font-size: 14px;
		color: #000000a3;
	}
	.formVoca{
		width: 75%;
		margin:auto;
		margin-top: 100px
	}
	
	.goToTest {
		position: absolute;
		bottom: 52px;
		left: 640px;
		display: block;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		color:white;
		padding: 6px 8px;
		background-color: #002eff;
		border-radius: 7%;
	}
	.listLearn{
		margin-right: 50px;
	}
	a.listLearn:hover a{
		color:red;
	}
	.topic {
		position: absolute;
		top: 195px;
		left: 610px;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		color: #1462a7;
		font-weight: bold;
	}
	.wrapForm{
			width: 400px;
			height: 200px;
			position: relative;
			margin:auto;
			margin-top:100px;
	}
	div.TestForm {
		position: absolute;
		width: 400px;
		height: 200px;
		top: 80px;
		left: 70px;
		font-family: 'Montserrat', sans-serif;
		line-height: 26px;
	}
	.TestForm .Next{
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 8px 23px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin-top: 20px;
		margin-left: 79px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		border-radius: 7%;
		cursor: pointer;
	}
	.clock{
		width: 100px;
		height: 50px;
		position: absolute;
		top: 306px;
		left: 800px;
	}
	.clock p{
		color:red;
	}
	.menu{
		width: 85%;
		height: 90px;
		position: absolute;
		top:60px;
		left: 80px;
		background-color: white;
		z-index: 999;
		display: flex;
		align-items: center;
	}
	.name span{
		font-weight: bold;
		color:#13bfb1;
		font-size: 38px;
	}
	.name{
		font-size: 40px;
		margin-left: 15px;
		margin-right: 30px;
	}
	.choice a{
		display: block;
		width: 140px;
		text-align: center;
		text-decoration: none;
		color: #983434;
		font-size: 17px;
		padding-right: 20px;
		margin-left: 10px;
		font-weight:bold;
	}
	
	.choice span{
		display: block;
		width: 140px;
		text-align: center;
		text-decoration: none;
		color: #983434;
		font-size: 17px;
		padding-right: 20px;
		margin-left: 10px;
		font-weight:bold;
		cursor: pointer;
	}
	.choice {
		height: 94px;
		align-items:  center;
		display:  flex;
		border-top:4px solid #00000000;
	}
	.choice.active{
		border-top:4px solid #13bfb1;
	}
	.duongke{
		width: 1px;
		height: 65%;
		background-color: #00000020;
	}
	.choice:hover{
			border-top:4px solid #13bfb1;
	
	}
	
#banner {
	text-align: center;;

		
		padding: 8em 0 0 30em;
	}

		#banner p {
			font-family: 'Raleway', sans-serif;
			color: green;
			font-size: 2em;
			padding-bottom: 13px;
		}
		#banner .major h2 {
			font-size: 3.3em;
			color: #13bfb1;
			padding-bottom: 10px;
		}
		#banner .image {
			left: 90px;
			height: 500px;
			margin-bottom: 40px;
		}
		#banner .major .byline {
			text-align: left;
			font-family: Arial 'Raleway', sans-serif;
			color: inherit;
			display: block;
			margin: 0em 2em;
			line-height: 1.6em;
			font-size: 1.3em;
			padding-bottom: 15px;
			padding-left: 55px;
		}
		#banner .major .byline .home{
			font-family: 'Raleway', sans-serif;
			color: green;
			font-size: 2em;
			padding-bottom: 13px;
		}
		#banner a {
			margin-top: 10px;
			right: 122;
			color: white;
		}

		.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
		background: #13bfb1;
		border-radius: 20px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0.5em 1.8em;
		text-align: center;
		text-decoration: none;
		font-size: 1.2em;
		width: auto;
		}

		#banner form {
			padding-left: 50px;
			height: 500px;
			margin-right: 20px;
		}
		a{
			text-decoration:none !important;
		}
		.prepare{
		font-size: 16px;font-weight: bold;color: #301e40;line-height: 30px;font-family: 'Montserrat', sans-serif;
		margin-right: 160px;
		}
		a.prepare{
			color: blue;
		}
		i.fa.fa-volume-up {
    font-size: 40px;
    position: absolute;
    top: 100px;
    left: 67px;
    color: rebeccapurple;
}


	

		