
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/TurtleEnglish_layout.cshtml";
}

<div class="content" style='width:80%; margin:unset'>
    <h2 style="text-align: left;font-size: 30px; color: red;margin-bottom: 20px;font-family: 'Montserrat', sans-serif;">About English Turtle</h2>
    <p class="prepare" align="justify">English Turtle is a product of the students in University of Sciences (HCMUS), designed to help Vietnamese students remove barriers to English language. Instead of learning single words and boring grammar rules, English Turtle teaches you to look for meaningful phrases. When you study phrases, you learn both vocabulary and grammar at the same time.</p>
    <p class="prepare" align="justify">
        In each lesson, we introduce a natural English sentence, explain when you can use it, and break it down into
        meaningful words and phrases.
    </p>
    <p class="prepare">Thank you for your attention!</p>
    @*@Html.ActionLink("Home", "HomePage", "HomePage", null, new { Style = "color:Red" })*@
    <a class="btn btn-primary" href="@Url.Action("HomePage","HomePage")">Home Page</a>
</div>
</div>

