
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/TurtleEnglish_layout.cshtml";
}

<div class="content" style='width:80%; margin:unset'>
    <h2 style="text-align: left;font-size: 30px; color: red;margin-bottom: 20px;font-family: 'Montserrat', sans-serif;">Please contact the information below</h2>
    <p class="prepare"><span style="font-size: 17px;"><span style="color:red">Email: </span>Englishturtle@gmail.com</span></p>
    <p class="prepare"><span style="font-size: 17px"><span style="color:red">Hotline:</span> +84 1222 000 596</span></p>
    <p class="prepare"><span style="font-size: 17px;"><span style="color:red">Facebook: </span>https://www.facebook.com/englishturtle</span></p></br>
    <p style="font-weight: bold;font-family: 'Montserrat', sans-serif;"><b>If you have any special requests or messages for us, please enter here</b></p></br>
    <form action="" method="post">
        <textarea name="comments" cols="60" rows="10" wrap="off"></textarea>
        <br>
        <input type="submit" value="Send" name="submit">
    </form>
</div>

<!-- END CONTENT -->

